.dropzone.dropzone-input {
  border-width: 2px;
  transition: border-color .3s;
  cursor: pointer;
}
.dropzone.dropzone-input:hover {
  border-color: #bbb;
}
.dropzone.dropzone-input:focus {
  border-color: #8dae28;
  outline: 0;
}
.grey .dropzone.dropzone-input:hover {
  border-color: #aaa;
}