.search-input {
  background: #efefef;
  width: 100%;
  border-radius: 5em;
  border: 2px solid transparent;
  line-height: 1em;
  font-size: 1em;
  padding: .3em .75em;
}
.search-input:focus {
  outline: 0;
  border-color: #ddd;
}