.hgroup {
  position: relative;
  padding-bottom: .5em;
  line-height: 1.5em;
  border-bottom: 2px solid #ddd;
  margin-bottom: .5em;
}
.hgroup a {
  position: relative;
  display: inline-block;
}
.hgroup a:after {
  position: absolute;
  content: "";
  bottom: -.5em;
  margin-bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #000;
}
.hgroup-title {
  display: block;
  border-bottom: 2px solid #ddd;
  padding-bottom: .5em;
  margin-bottom: .5em;
  font-weight: 600;
  font-size: 1em;
}
.hgroup-options {
  display: block;
  font-size: 1em;
  font-weight: 400;
  color: #777;
}
.hgroup-options a {
  display: inline-block;
}
.hgroup-option-left {
  float: left;
}
.hgroup-option-right {
  float: right;
}
.hgroup-options .icon {
  top: 0;
  color: #000;
}