.sidebar-list {
  margin-bottom: 1.5em;
}
.sidebar-list > li {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.sidebar-list > li > a {
  padding: .25em 0;
}
.sidebar-list .marginalia {
  position: absolute;
  right: 0;
  padding-left: .5em;
}