@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

abbr {
  border: none;
}

img {
  max-width: 100%;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.cut {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none !important;
}

.shiv:after {
  position: absolute;
  content: "";
  width: 2em;
  height: 100%;
  top: 0;
}
.shiv-left:after {
  left: -2em;
}
.shiv-right:after {
  right: -2em;
}
.shiv-white {
  background: #fff;
}
.shiv-white:after {
  background: -webkit-linear-gradient(left, rgba(255,255,255, 0), #fff);
  background: -moz-linear-gradient(left, rgba(255,255,255, 0), #fff);
  background: -ms-linear-gradient(left, rgba(255,255,255, 0), #fff);
  background: linear-gradient(left, rgba(255,255,255, 0), #fff);
}
.shiv-grey {
  background: #efefef;
}
.shiv-grey:after {
  background: -webkit-linear-gradient(left, rgba(239,239,239, 0), #efefef);
  background: -moz-linear-gradient(left, rgba(239,239,239, 0), #efefef);
  background: -ms-linear-gradient(left, rgba(239,239,239, 0), #efefef);
  background: linear-gradient(left, rgba(239,239,239, 0), #efefef);
}