.content {
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  padding-bottom: 9em;
}
.content .form {
  padding: 0 1.5em;
}
.content.with-sidebar-left {
  left: 33.33%;
}
.content.with-sidebar-right {
  right: 33.33%;
}
