/** file **/
.file {
  background: #fff;
  display: block;
}
.file-preview {
  position: relative;
  display: block;
  padding-bottom: 66.66%;
  line-height: 0;
}
.file-preview img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.file-info {
  padding: 1em 1.5em;
  line-height: 1.5em;
  border-bottom: 1px solid #ddd;
}
.file-name {
  display: block;
  color: #000;
}
.file-meta {
  display: block;
  font-size: .9em;
}
.file-options .btn {
  width: 100%;
  padding: 1em 1.5em;
  line-height: 1.5em;
  border-bottom: 1px solid #ddd;
}
.file-options .btn:last-child {
  border-bottom: 0;
}

@media screen and (min-width: 40em) {
  .file-options .btn {
    width: 50%;
    float: left;
    border-bottom: 0;
  }
  .file-options .btn:first-child {
    border-right: 1px solid #ddd;
  }
}