.field-with-buttons .input {
  min-height: 10em;
}
.field-buttons {
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border-top: 1px solid #efefef;
  background: #fff;
  line-height: 0;
  white-space: nowrap;
  text-align: center;
}
.field-buttons:before,
.field-buttons:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 1em;
  pointer-events: 0;
  z-index: 1;
}
.field-buttons:before {
  left: 0;
  background: -webkit-linear-gradient(left, rgba(0,0,0, .05), rgba(255,255,255,0));
  background: -moz-linear-gradient(left, rgba(0,0,0, .05), rgba(255,255,255,0));
  background: -ms-linear-gradient(left, rgba(0,0,0, .05), rgba(255,255,255,0));
  background: linear-gradient(left, rgba(0,0,0, .05), rgba(255,255,255,0));
}
.field-buttons:after {
  right: 0;
  background: -webkit-linear-gradient(right, rgba(0,0,0, .05), rgba(255,255,255,0));
  background: -moz-linear-gradient(right, rgba(0,0,0, .05), rgba(255,255,255,0));
  background: -ms-linear-gradient(right, rgba(0,0,0, .05), rgba(255,255,255,0));
  background: linear-gradient(right, rgba(0,0,0, .05), rgba(255,255,255,0));
}
@media screen and (min-width: 30em) {
  .field-buttons:before,
  .field-buttons:after {
    display: none;
  }
}
.field-buttons ul {
  overflow: auto;
}
.field-buttons li {
  border-right: 1px solid #efefef;
  display: inline-block;
  float: none;
}
.field-buttons li:last-child {
  border-right: 0;
}
.field-buttons .btn {
  padding: .5em 1.5em;
  display: block;
  line-height: 1em;
  text-align: center;
  width: 100%;
}
.field-buttons .btn:hover {
  color: #000;
}
.field-with-buttons .input {
  padding-bottom: 1.5em !important;
}

