.dropdown-list > li {
  white-space: nowrap;
}
.dropdown-list > li > a {
  padding: .75em 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #efefef;
}
.dropdown-list > li > a:hover {
  color: #777;
}
.dropdown-list > li > a:hover i {
  color: #000;
}