/* App */
.pl {
  margin: 0;
  padding: 0;
  overflow: hidden-y;
}

/* Topbar */
.pl-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  bottom: 0;
  overflow: auto;
  background: #333;
  padding: 20px;
  z-index: 1;
}
.pl-sidebar:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 200px;
  bottom: 0;
  background: #333;
  z-index: -1;
}
.pl-sidebar * {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.pl-menu,
.pl-submenu {
  padding: 0;
  margin: 0;
}
.pl-menu-item {
  position: relative;
  list-style: none;
}
.pl-menu-link,
.pl-submenu-link {
  border: 0;
  text-decoration: none;
  color: #999;
  display: block;
  padding: 10px 0;
  font-size: 14px;
}
.pl-menu-link {
  font-weight: bold;
  border-bottom: 1px solid #444;
}
.pl-menu-item-active > a,
.pl-submenu-item-active > a {
  color: #fff;
}
.pl-menu-item > a:hover,
.pl-submenu-item > a:hover {
  color: #fff;
}


.pl-menu-item:hover .pl-submenu {
  display: block;
}
.pl-submenu {
  padding: 5px 0;
  border-bottom: 1px solid #444;
}
.pl-submenu-item {
  list-style: none;
}
.pl-submenu-link {
  padding: 5px 20px;
}
.pl-submenu-link:hover {
  color: #fff;
}
/* Pattern List */
.pl-pattern {
  margin-bottom: 90px;
}
.pl-pattern-headline {
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #777;
  line-height: 18px;
}
.pl-pattern-headline > a {
  text-decoration: none;
  color: inherit;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.pl-pattern-headline > a:hover {
  color: #000;
}
.pl-pattern-body {
  position: relative;
}

/* Color List */
.pl-colors {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.pl-color {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 4px;
  margin: 0 4px 4px 0;
  background: #fff;
}
.pl-swatch {
  width: 6em;
  height: 3em;
  margin-bottom: .5em;
  line-height: 18px;
}
.pl-color > span {
  display: block;
  font-family: Arial, sans-serif;
}
.pl-swatch-label > small {
  display: block;
  font-family: Arial, sans-serif;
  color: #999;
}

/* Main frame */
.pl-main {
  position: absolute;
  left: 200px;
  right: 0px;
  top: 0px;
  min-height: 100%;
}
.pl-main-iframe {
  padding: 30px 20px 60px;
}


/* Error Page */
.pl-error * {
  font-family: Arial;
  font-size: 14px;
}

/* Code View */
.pl-codeview {
  display: block;
  margin-bottom: 40px;
  padding: 20px;
  background: #efefef;
  overflow: auto;
}
.pl-codeview,
.pl-codeview * {
  font-family: Menlo, "Courier New", monospace;
  font-size: 14px;
  line-height: 22px;
}


.pl-iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}