.text ul,
.text ol {
  margin-left: 1.25em;
  margin-bottom: 1.5em;
}
.text ul ul,
.text ul ol,
.text ol ol,
.text ol ul {
  margin-bottom: 0;
}

.text dl {
  margin-bottom: 1.5em;
}
.text dt {
  font-weight: 600;
}