.subpages-grid .grid-item {
  margin-bottom: 1.5em;
}
.subpages-grid h3 {
  margin-bottom: 1em;
  font-weight: 400;
  color: #777;
}
.subpages-grid .item-info {
  cursor: move;
}
@media screen and (min-width: 50em) {
  .subpages-grid .grid-item {
    width: 50%;
  }
}
