.dashboard-section {
  display: inline-block;
  margin-bottom: 1.5em;
  width: 100%;
  vertical-align: top;
  padding: 1em 1.5em 1em;
}
.dashboard-section:last-child {
  margin-bottom: 0;
}
.dashboard-section ul {
  margin-bottom: 0;
}