.field-content {
  position: relative;
}
.field-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  width: 3em;
  border-left: 1px dashed #ddd;
  pointer-events: none;
  background: #fff;
}
.field-icon .icon {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -7px;
  color: #777;
}
.field-with-icon .input {
  padding-right: 3em;
}