@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

abbr {
  border: none;
}

img {
  max-width: 100%;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.cut {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none !important;
}

.shiv {
  background: #fff;
}
.shiv:after {
  position: absolute;
  content: "";
  width: 2em;
  height: 100%;
  top: 0;
  background: -webkit-linear-gradient(left, rgba(255,255,255, 0), #fff);
}
.shiv-left:after {
  left: -2em;
}
.shiv-right:after {
  right: -2em;
}
.grey .shiv {
  background: #efefef;
}
.grey .shiv:after {
  background: -webkit-linear-gradient(left, rgba(239,239,239, 0), #efefef);
}