.dropdown {
  position: relative;
  background: #fff;
  box-shadow: rgba(0,0,0, .2) 0px 2px 10px;
}
.dropdown:after {
  position: absolute;
  content: "";
  top: -.5em;
  margin-left: -.1em;
  border-bottom: .5em solid #fff;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
}
.dropdown-left {
  left: 0;
}
.dropdown-left:after {
  left: 1.5em;
}