.btn {
  display: inline-block;
  background: none;
  border: 0;
  line-height: 1em;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}